---
import Section from "../Section.astro"
import { certificates } from "@cv"
---

<Section title="Certificados">
  <ul class="flex flex-col">
    {
      certificates.map(({ name, date, issuer, summary }) => {
        const startYear = new Date(date).getFullYear()
        return (
          <li>
            <article>
              <header class="flex justify-between items-start">
                <div>
                  <h3 class="font-bold mt-2 text-lg text-gray-500 lg:text-xl">{name}</h3>
                </div>

                <time class="text-gray-400 text-base lg:text-xl">{startYear}</time>
              </header>

              <footer>
                <p class="mt-2 font-semibold text-gray-400 lg:text-xl">{issuer}</p>
                <p class="mt-2 lg:text-xl">{summary}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
