---
import Section from "../Section.astro"
import { certificates } from "@cv"
---

<Section title="Certificados">
  <ul class="flex flex-col gap-4">
    {
      certificates.map(({ name, issuer, summary }) => {
        return (
          <li>
            <article>
              <header class="flex">
                <div>
                  <h3 class="font-bold mt-2 text-gray-500 text-xl">{name}</h3>
                  <p class="font-semibold text-gray-400 text-base">{issuer}</p>
                </div>
              </header>
              <footer>
                <p class="text-sm mt-2">{summary}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>