---
import Section from "../Section.astro"
import { courses } from "@cv"
---

<Section title="Cursos">
  <ul class="flex flex-col gap-4 mb-4">
    {
      courses.map(({ platform, summary, typePlatform }) => {
        return (
        <li>
            <article>
              <header class="flex justify-between items-center">
                <div>
                  <h3 class="font-bold mt-2 text-lg text-gray-500 lg:text-xl">{platform}</h3>
                </div>
              </header>
              <footer>
                <p class="mt-2 font-semibold text-gray-400 lg:text-xl">{typePlatform}</p>
                <p class="mt-2 lg:text-xl">{summary}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul">
</Section>
