---
import Section from "../Section.astro"
import { education } from "@cv"
---

<Section title="Educación">
  <ul class="flex flex-col gap-4" >
    {
      education.map(
        ({ institution, area, summary }) => {

          return (
            <li>
              <article>
                <header class="flex">
                  <div>
                    <h3 class="font-bold mt-2 text-gray-500 font-sans">{institution}</h3>
                    <p class="font-semibold text-gray-400 text-base">{area}</p>
                  </div>
                </header>

                <footer>
                  <p class="text-sm mt-2">{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>
