---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Certificates from "@/components/sections/Certificates.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import Courses from "@/components/sections/Courses.astro"

import KeyboardManager from "@/components/KeyboardManager.astro"

import { basics } from "@cv"
const { name, label, firstName } = basics
---

<Layout title={`${firstName} | Curriculum Vitae`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Certificates />
    <Courses />
    <Skills />
    <Projects />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
