---
import Layout from "@/layouts/Layout.astro"

//import Projects from "@/components/sections/Projects.astro"
import About from "@/components/sections/About.astro"
import Certificates from "@/components/sections/Certificates.astro"
import Courses from "@/components/sections/Courses.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Skills from "@/components/sections/Skills.astro"

import { basics } from "@cv"
const { name, label, shortName } = basics
---

<Layout title={`${shortName} | Curriculum Vitae`}>
  <main class="p-8">
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Education />
    <Certificates />
    <Courses />
<!-- <Projects /> -->
  </main>
</Layout>

<style>
  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
