---
const { title } = Astro.props
---

<section class="mt-2 max-w-3xl md:max-w-4xl lg:max-w-7xl">
  {title && <h2 class="font-semibold mt-8">{title}</h2>}
  <slot />
</section>

<style>
  section {
    margin: 0 auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
